    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6vw;
      height: 6vw;
      margin-top: 20px;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 20%;
      font-size: 1.2vw;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .game-wrapper {
      display: flex;
      justify-content: center;
      justify-self: center;
      align-self: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      background: transparent;
      scale: calc(0.8);

    }

    .game-wrapper iframe {
      width: 100%;
      height: 90vh;
    }

    @media screen and (max-width: 768px) {
        
      .game-wrapper {
        width: 100vw;
        height: 70vh;
        scale: 1;
      }
      .game-wrapper iframe {
        width: 100vw;
        height: 50vh;
      }
    }
