/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    html, body {
        height: auto;
        width: 100%;
        overflow: auto;
    }
}