<div class="menu">
  <div class="game-guide">
    <h2>Hướng dẫn chơi</h2>
    <img src="https://res.cloudinary.com/drjlezbo7/image/upload/v1761160683/11851291_oexczi.png">
    <p>Người chơi dùng <strong>phím</strong> và <strong>chuột</strong> để điều khiển <em>agent</em> sang các <strong>map trò chơi</strong> khác nhau.</p>
  </div>
  <div class="menu-options">
    <button (click)="onSetting()"><img class="glass" src="https://res.cloudinary.com/drjlezbo7/image/upload/v1761151735/19034117_oqevqk.png"><p class="shiny-text">Setting</p></button>
    <button (click)="onLeaderboard()"><img class="snowman" src="https://res.cloudinary.com/drjlezbo7/image/upload/v1761151136/1409305_yjt01x.png"><p class="shiny-text">Leaderboard</p></button>
    <button (click)="onPlay()"><img class="game" src="https://res.cloudinary.com/drjlezbo7/image/upload/v1761147176/play_czrd4f.png"><p class="shiny-text">Play</p></button>
  </div>
</div>
